---
import PageLayout from '../layouts/BaseLayout.astro'
import Section from '../components/Section.astro'
import Card from '../components/Card.astro'
import ProjectCard from '../components/ProjectCard.astro'
import Label from '../components/Label.astro'
import SkillLayout from '../components/SkillLayout.astro'

const languages = ['Cantonese (native)','English (fluent)','Mandarin (fluent)']
const frontend = ['React', 'Astro', 'Vite', 'CSS']
const backend = ['Node', 'Next']
const programming = ['C', 'Python', 'C++',  'Javascript', 'Typescript', 'PHP', 'Java']
const others = ['Git', 'Docker', 'MongoDB', 'PostgreSQL']

---

<PageLayout meta={{ title: 'Home' }}>
	<div class='flex w-full flex-col gap-y-10'>
		<section class='flex flex-col items-center gap-y-7'>
			<div class='flex flex-col items-center gap-y-4'>
				<h1 class='text-3xl font-bold'>YU Wing Ching, Winnie</h1>
				<div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
					<Label title='Student'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M4.615 20q-.69 0-1.152-.462Q3 19.075 3 18.385v-9.77q0-.69.463-1.152Q3.925 7 4.615 7H9V5.615q0-.69.463-1.152Q9.925 4 10.615 4h2.77q.69 0 1.153.463q.462.462.462 1.152V7h4.385q.69 0 1.152.463q.463.462.463 1.152v9.77q0 .69-.462 1.152q-.463.463-1.153.463zm0-1h14.77q.23 0 .423-.192q.192-.193.192-.423v-9.77q0-.23-.192-.423Q19.615 8 19.385 8H4.615q-.23 0-.423.192Q4 8.385 4 8.615v9.77q0 .23.192.423q.193.192.423.192M10 7h4V5.615q0-.23-.192-.423Q13.615 5 13.385 5h-2.77q-.23 0-.423.192q-.192.193-.192.423zM4 19V8z'
							></path></svg
						>
					</Label>
					<Label title='Hong Kong'>
						<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='h-5 w-5' slot='icon'
							><path
								fill='currentColor'
								d='M12.003 11.73q.668 0 1.14-.475q.472-.475.472-1.143t-.475-1.14q-.476-.472-1.143-.472t-1.14.476q-.472.475-.472 1.143t.475 1.14q.476.472 1.143.472M12 19.677q2.82-2.454 4.458-4.991q1.638-2.538 1.638-4.39q0-2.744-1.737-4.53T12 3.981q-2.621 0-4.359 1.785t-1.737 4.53q0 1.852 1.638 4.39q1.639 2.537 4.458 4.99m0 1.343q-3.525-3.117-5.31-5.814q-1.786-2.697-1.786-4.909q0-3.173 2.066-5.234Q9.037 3 12 3t5.03 2.062q2.066 2.061 2.066 5.234q0 2.212-1.785 4.909q-1.786 2.697-5.311 5.814m0-10.904'
							></path></svg
						>
					</Label>
					<Label
						title='Connect on Linkedin'
						as='a'
						href='https://www.linkedin.com/in/winnie-yu-b137242b6/'
						target='_blank'
					>
						<svg
							xmlns='http://www.w3.org/2000/svg'
							viewBox='0 0 16 16'
							slot='icon'
							class='h-5 w-5 text-foreground/75'
							><path
								fill='currentColor'
								d='M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248c-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586c.173-.431.568-.878 1.232-.878c.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252c-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z'
							></path></svg
						>
					</Label>
				</div>
			</div>
		</section>

		<Section title='About'>
			<p class='text-muted-foreground'>
				Final year undergraduate student majoring in Computer Science<br/>
				With passion for web development, my career path is currently focused on becoming a frontend developer <br/>
				Also interested in the field of networking and security, for example solving CTF <a href="https://play.picoctf.org/users/ame2024/" target="_blank" class="underline">(Capture The Flag)</a> <br/>
			</p>
		</Section>
		
		<Section title='Education'>
			<Card
				heading='BSc in Computer Science'
				subheading='The Chinese University of Hong Kong'
				date='2021 - Present'>
				<ul class='list-disc text-muted-foreground'>
					Relevant Courses: Software Engineering, Open-source Software Project Development
				</ul>
			</Card>
		</Section>

		<Section title='Experience'>
			<Card
				heading='Software Development Summer Internship'
				subheading='Knowledge & Education Exchange Platform (KEEP) project under CUHK'
				date='May - Aug 2024'
			>
				<ul class='ml-4 list-disc text-muted-foreground'>
					<li>
					<u>Design and Implementation: </u><ul>
					<li>Initiated the design
						<a href="https://www.figma.com/proto/FeW2oc2PMC8pVpkcZUC4E7/Minimal-Web?node-id=1443-122096&t=kTzT0qtIk0UgOsSe-1&scaling=min-zoom&content-scaling=fixed&page-id=1350%3A109720&starting-point-node-id=1443%3A122096&show-proto-sidebar=1"  class='underline'>
							(Figma)</a> and development of the web interface for VeriGuide.</li>
					<li>Utilized frontend package, <a href="https://minimals.cc/" class='underline'>Minimal</a>, with React, Material UI and Vite to build the web interface.</li>
					</ul></li>
					<li><u>Research and Evaluation:</u><ul>
					<li>Conducted comprehensive research on Retrieval-Augmented Generation (RAG) techniques and Large Language Models (LLMs).</li>
					<li>Evaluated the performance of RAG applications using quantitative metrics. </li>
					</ul></li>
				</ul>
			</Card>
			<Card
				heading='Summer Intern - Software Engineer'
				subheading='Asta Systems Ltd.'
				date='June - Aug 2023'
			>
			<ul class='ml-4 list-disc text-muted-foreground'>
				<li>
					<u>Creativity and Technical skills:</u>
					<ul><li> Built six distinct websites. Engaged in the aesthetic design of the user interface </li>
						<li>Implementated with XML, HTML5 and CSS3 programing.</li></ul>
				</li>
				<li>
					<u>Customer Relationship Management:</u>
					<ul><li>Demonstrated four distinct ERP system. Constantly gathered feedback from customers. 
					</li><li>Facilitated communication between clients and mainland colleagues throughout projects.
						</li></ul></li>
				</li>
			</ul></Card>
		</Section>

		<Section title='Projects'>
			<div class='scrollable-container flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0'>
				<ProjectCard
					href='/'
					heading='Resume'
					subheading='Side Project: My personal website'
					imagePath='/src/assets/investigate.png'
					altText=''
					skills={['Astro', 'Tailwind']}
					class=' scrollable-item'
				/>
				<ProjectCard
					href='https://lantana-hk.company.site/'
					heading='Ecommerce'
					subheading='Build for my friend :)'
					imagePath='/src/assets/lantana.jpg'
					altText=''
					skills={[]}
					class=' scrollable-item'
				/>
				<ProjectCard 
					href='https://github.com/winniewcyu/gobang_easy'
					heading='Gobang'
					subheading='CSCI3100: PvM Gobang Game'
					imagePath='/src/assets/image.png'
					altText=''
					skills={['React', 'Node', 'MongoDB']}
					class=' scrollable-item'
				/>
				<ProjectCard
					as='div'
					heading='Coming soon...'
					subheading=''
					imagePath='/src/assets/image.gif'
					altText=''
					skills={[]}
					class=' scrollable-item'
				/>
			</div>
		</Section>

		<Section title='Skills'>
			<SkillLayout title='Languages' skills={languages} />
			<SkillLayout title='Frontend' skills={frontend} />
			<SkillLayout title='Backend' skills={backend} />
			<SkillLayout title='Programming Language' skills={programming} />
			<SkillLayout title='Others' skills={others} />
		</Section>
	</div>
	<a
		href='https://github.com/srleom/astro-theme-resume.git'
		class='mt-16 flex flex-row items-center gap-x-3 rounded-3xl border border-input px-4 py-2 text-sm shadow-sm transition-all hover:shadow-md'
	>
		<span class='relative flex items-center justify-center'>
			<span
				class='absolute inline-flex h-2 w-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
			></span>
			<span class='relative inline-flex h-2 w-2 rounded-full bg-green-400'></span>
		</span>

		<p class='font-medium'>Astro Resume Template Here</p>
	</a>
</PageLayout>
